// All of our block level items should have the same margin

body {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

blockquote {
    margin: 0;
    padding: 0 1em;
    color: #57606a;
    border-left: 0.25em solid #d0d7de;
}

hr {
    height: 0.25em;
    margin: 24px 0;
    background-color: #d0d7de;
    border: 0;
}
