/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

section,
article {
  padding: 1rem;
}

article {
  margin: auto;
}

article > * {
  max-width: 100%;
  overflow: auto;
}

blockquote {
  color: gray;
  border-left: 0.25rem solid currentColor;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
}

blockquote *:last-child {
  margin-bottom: 0;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  border: 0.1rem solid gray;
  border-radius: 0.25em;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
  text-align: center;
  white-space: nowrap;
}

[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

input,
textarea,
select {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0.1rem solid gray;
  border-radius: 0.25rem;
  padding: 1rem;
  width: 100%;
}

button,
input,
textarea,
select {
  outline: 0;
}

select[multiple] {
  background: none;
  height: auto;
}

textarea {
  min-height: 6.5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type=checkbox],
input[type=radio] {
  display: inline;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
  overflow-x: auto;
  width: 100%;
}

td,
th {
  border-bottom: 0.1rem solid gray;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;
  margin-top: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

img {
  max-width: 100%;
}

/*# sourceMappingURL=styless.css.map */
